* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/* div {
    outline: 2px solid; 
    outline-color: #0000FF;  
} */

.main-block {
    position: relative;
    width: auto;
    max-width: 364px;
    height: 649px;
    background-color: black;
}

.content-block {
    position: absolute;
    display: grid;
    box-sizing: border-box;
    width: auto;
    height: 599px;
    margin: 25px 20px;
}

.container {
    display: grid;
    gap: 16px;
    grid-template-columns: 69px 69px 69px 69px;
    grid-template-areas: "item1 item1 item2 item3"
                         "item4 item5 item6 item7"
                         "item8 item9 item10 item11"
                         "item12 item13 item14 item15"
                         "item16 item16 item16 item17";
    
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

}
.actions a {
   font-size: 40px;
   line-height: 40px;
   font-weight: 200;
   opacity: .3;
   text-shadow: #2E2F38;  
  
}

.result {
    display: flex;
    justify-content: flex-end;
    width: 324px;
    height: 96px;
    margin-bottom: 16px;
}

.result {
    display: flex;
    justify-content: flex-end;
    width: 324px;
    height: 96px;
    margin-bottom: 16px;
}
.resultLog {
    padding-bottom: 16px;
    font-size: 96px;
    line-height: 96px;
    font-weight: 200;
    text-shadow: #2E2F38;  
}

.resultLog.longer {
    padding-bottom: 16px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 200;
    text-shadow: #2E2F38;  
}
.icon {
    width: 32px;
    height: 32px;
}


.btn {
    box-sizing: border-box;
    height: 72px;
    padding: 12px;
    font-size: 32px;
    font-family: inherit;
    font-weight: 400;
    text-align: center;
    color: white;
    background-color: #2E2F38;
    border-radius: 24px;
    border: 1px solid #000000;
} 

.btn-action {
    background-color:#4B5EFC;
}
.btn-clear {
    background-color:#4E505F;

}
.item1 {
    grid-area: item1;


}

.item2 {
    grid-area: item2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}
.item7 {
    grid-area: item7;
}
.item8 {
    grid-area: item8;
}
.item9 {
    grid-area: item9;
}
.item10 {
    grid-area: item10;
}
.item11 {
    grid-area: item11;
}
.item12 {
    grid-area: item12;
}
.item13 {
    grid-area: item13;
}
.item14 {
    grid-area: item14;
}
.item15 {
    grid-area: item15;
}

.item16 {
    grid-area: item16;
}
.item17 {
    grid-area: item17;
}